.header {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
}
.hamburger {
  padding-left: 4%;
}
.middleBar {
  padding-left: auto;
  padding-right: auto;
}
.rightBar {
  padding-right: 7%;
}
.itemsMove {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;

  width: 100px;
  height: 20px;
}
